<div class="row">
	<div class="col-md-12">
<hr>
<nav>
	<ul>
		<li><a href="/operaciones">Listado de operaciones</a></li>
		<li><a href="/operaciones/create">Crear una operacion</a></li>
	</ul>
</nav>
<hr>	
</div>
</div>